# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\fkinz\source\repos\FolkerKinzel.VCards\FolkerKinzel.VCards.Tests\ codebase based on best match to current usage at 31.12.2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]


# CA1303: Literale nicht als lokalisierte Parameter übergeben
dotnet_diagnostic.CA1303.severity = none




# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CA1826: Do not use Enumerable methods on indexable collections
dotnet_diagnostic.CA1826.severity = none

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0008: Use explicit type
csharp_style_var_elsewhere = false

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = false

[DataUrlTests.cs]
# SYSLIB0011: Typ oder Element ist veraltet
dotnet_diagnostic.SYSLIB0011.severity = none
