<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FolkerKinzel.DataUrls" version="2.0.5" targetFramework="net472" />
  <package id="FolkerKinzel.Helpers" version="1.1.1" targetFramework="net472" />
  <package id="FolkerKinzel.MimeTypes" version="5.5.1" targetFramework="net472" />
  <package id="FolkerKinzel.Strings" version="9.4.2" targetFramework="net472" />
  <package id="FolkerKinzel.VCards" version="8.1.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net472" />
  <package id="Portable.System.DateTimeOnly" version="9.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
</packages>